
/* Taalinstellingen */
.lang-item {
    float: right;
    padding: 5px;
}
.lang-active {
    background-color: blue;
    color: white;
}

/* Top bar */
.top-bar {
    z-index: 1;
    height: 78px;
}

/* Logo */
.logo-container {
    margin-left: 40px;
    /* height: 80px; */
}

.logo-container > img {
    border: 1px solid lightgrey;
    margin-bottom: -80px;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
}

.menu-items {
    margin-top: auto;
}

.menu-item {
    float: right;
    padding: 5px;
}

.menu-active {
    color: blue;
    border-bottom: 2px solid blue;
}

/* Content */
.content-block-top {
    background-color: lightgrey;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 100px;
    margin-bottom: -100px;
}

/* Afbeeldingen */
/* .img-wrapper { */
    /* overflow: hidden; */
    /* position: relative; */
/* } */

/* .img-wrapper-inner { */
    /* height: 100%; */
    /* width: 100%; */
    /* position: absolute; */
    /* z-index: 1; */
    /* top: 100%; */
    /* padding: 15px 20px; */
    /* background: rgba(255,50,50,0.5); */
    /* color: white; */
/* } */

/* .description { */
    /* text-align: center; */
    /* padding: 15% 0; */
/* } */

/* .img-wrapper:hover .img-wrapper-inner { */
    /* top: 0; */
/* } */

/* Bootstrap adjustments */
/* .row-small { */
    /* margin-left: 20px; */
    /* margin-right: 20px; */
/* } */